* {
    margin: 0;
    padding: 0;
}

li a {
    text-decoration: none;
    display: block;
    width: auto;
    padding: 8px 16px;
    color: #fff;
}

li a:hover {
    background-color: #002828;
}

ul > li {
    display: inline-block;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: teal;
    color: #fff;
    grid-area: nav;
}

.logo {
    font-size: 20px;
    padding: 8px 16px;
}

.tag-name {
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    padding: 50px 0 10px 0;
}

.headline {
    font-size: 25px;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    padding: 10px;
}

.headline-text {
    padding: 10px;
    font-size: 25px;
    text-align: center;
    font-weight: bold;
}

.skills ul {
    padding: 10px;
    font-size: 20px;
    text-align: center;
    font-weight: 20;
}

footer {
    text-align: center;
    grid-area: footer;
}

.tag-name img {
    width: 250px;
    height: 230px;
    border-radius: 50%;
}

body {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: auto;
    grid-template-areas:
            "nav nav nav"
            "main main main"
            "footer footer footer";
}

main {
    grid-area: main;
}

.portfolio-column-left {
    width: 49.9%;
    float: left;
    background-color: #308f8f;
    height: 500px;
    border-radius: 10px;
}

.portfolio-column-right {
    width: 49.9%;
    float: right;
    background-color: #308f8f;
    height: 500px;
    border-radius: 10px;
}

.portfolio {
    font-size: 25px;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    color: white;
}

form {
    display: grid;
    /*width: 800px;*/
    grid-template-columns: 20% 70%;
    align-items: center;
    grid-gap: 0.5em;
}
.submit {
    grid-column: 2;
}

.contact-form {
    width: 50%;
    margin: 0 auto;
    /*padding: 10px;*/
}