@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root{
    --white: #ffffffff;
    --bisque: #ffe8d1ff;
    --blue-munsell: #568ea3ff;
    --light-cornflower-blue: #8ecae6ff;
    --blue-green: #219ebcff;
    --prussian-blue: #023047ff;
    --selective-yellow: #ffb703ff;
    --tangerine: #fb8500ff;
}

.menu li a {
    text-decoration: none;
    display: block;
    width: auto;
    padding: 8px 16px;
    color: var(--white);
}

.menu li a:hover {
    background-color: var(--light-cornflower-blue);
    border-radius: 15px;
}

.skills ul > li, .menu ul > li, footer ul > li {
    display: inline-block;
}

footer ul > li > a > img {
    width: 40px;
    border-radius: 10px;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: var(--blue-munsell);
    color: var(--light-cornflower-blue);
    grid-area: nav;
}

.logo {
    font-size: 20px;
    padding: 8px 16px;
}

.tag-name {
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    padding: 50px 0 10px 0;
}

.headline {
    font-size: 25px;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    padding: 10px;
}

.headline-text {
    padding: 10px;
    font-size: 25px;
    text-align: center;
    font-weight: bold;
}

.skills ul {
    padding: 10px;
    font-size: 20px;
    text-align: center;
    font-weight: 20;
}

footer {
    padding: 20px;
    text-align: center;
    grid-area: footer;
}

.tag-name img {
    width: 250px;
    height: 230px;
    border-radius: 50%;
}

body {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: auto;
    grid-template-areas:
            "nav nav nav"
            "main main main"
            "footer footer footer";
    font-family: 'Rajdhani', sans-serif;
}

main {
    grid-area: main;
}

.portfolio-column {
    float: left;
    width: 22%;
    padding: 10px 10px 20px 10px;
    height: 500px;
    background-color: var(--blue-munsell);
    border-radius: 10px;
    margin: 2px;
}

.portfolio-column img {
    width: 100%;
}

.portfolio-column span {
    font-size: 20px;
    display: block;
    border: 1px solid var(--prussian-blue);
    border-radius: 10px;
    padding: 10px;
}

.portfolio {
    font-size: 25px;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    color: var(--white);
}

.contact-form {
    width: 50%;
    margin: 0 auto;
    font-size: 20px;
}

.contact-column {
    float: left;
    width: 49%;
    margin: 2px;
}

.contact {
    width: 80%;
    margin: 0 auto;
    color: var(--blue-munsell);
}

.contact ul > li {
    list-style: none;
}

.phone-icon {
    background-image: url("../images/phone.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 40px;
    padding: 5px 1px 5px 45px;
}

.email-icon {
    background-image: url("../images/email.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 40px;
    padding: 5px 1px 5px 45px;
}

.linkedin-icon {
    background-image: url("../images/linkedin.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 40px;
    padding: 5px 1px 5px 45px;
}

.twitter-icon {
    background-image: url("../images/twitter.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 40px;
    padding: 5px 1px 5px 45px;
}

.github-icon {
    background-image: url("../images/github.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 40px;
    padding: 5px 1px 5px 45px;
}

.contact li a {
    text-decoration: none;
    color: var(--blue-munsell);
    display: block;
    padding: 10px 0 10px 10px;
}

.contact li a:hover {
    background-color: var(--light-cornflower-blue);
    border-radius: 14px;
}

.contact-details {
    font-size: 20px;
}

.contact-details p, .contact-form p {
    font-size: 30px;
    margin: auto;
    text-align: center;
}

.contact-details-content {
    display: flex;
    justify-content: center;
    padding: 50px;
}

input[type=email], input[type=text], textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid var(--blue-munsell);
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: var(--blue-munsell);
    color: var(--white);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: var(--blue-munsell);
}

.blog_content {
    width: 80%;
    margin: 10px auto;
    border: 5px solid var(--blue-munsell);
    padding: 10px;
    border-radius: 10px;
}

.title {
    font-size: 30px;
}

.text-hover:hover {
    background-color: var(--light-cornflower-blue);
    border-radius: 7px;
    padding: 2px;
    color: var(--white);
}

.story {
    font-size: 20px;
    padding: 10px 0 0 0;
    width: auto;
}

.title > a {
    text-decoration: none;
    color: var(--blue-munsell);
}

.site-report {
    width: 80%;
    margin: 10px auto;
    text-align: center;
}

.report-title {
    font-size: 70px;
}

.site-report-body {
    font-size: 20px;
    padding: 10px 0 0 0;
    width: 80%;
    margin: auto;
}

.site-report-body p {
    padding: 10px;
}